.appHeader {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.appLogo {
  background-image: url(../../assets/img/microceratops-small.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
}

.omnibarContainer {
  margin: 15px 0;
  flex-grow: 1;
}

.accountContainer {
  width: 200px;
}

