.appHeader {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-size: 1.3rem;
}

.appLogo {
  background-image: url(../../../assets/img/microceratops-small.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
}

.omnibarContainer, .accountContainer {
  margin-top: 15px;
  margin-bottom: 15px;
}

.omnibarContainer {
  flex-grow: 1;
}

.accountContainer {
  margin-left: 30px;
  margin-right: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.profileName {
  color: #777;
  line-height: 30px;
  max-width: 140px;
  min-width: 100px;
  text-align: center;
}

.profileImage {
  width: 30px;
  height: 30px;
}

