.labelItem {
  padding-left: 0;
  margin-top: 2px;
  margin: 0 14px;
  text-transform: capitalize;
}

.labelItem > a {
  display: block;
  color: inherit;
  padding: 1px 0 1px 15px;
  text-decoration: none;
  width: 100%;
}

.labelItem > a:hover {
  background-color: #eeeeee;
}

.activeLabel {
  border-left: 4px solid #dd4b39;
  padding-left: 10px;
  margin: 0
}

.additionalLabels {
  cursor: pointer;
  padding-left: 15px;
}

.additionalLabels:hover {
  background-color: #ffffff;
}

.additionalLabelArrow {
  font-size: 80%;
}

.labelsContainer {
  list-style-type: none;
  padding: 0;
}

.unreadLabel {
  font-weight: bold;
}

.activeLabel {
  font-weight: bold;
  color: #dd4b39;
}

.labelSeperator {
  padding-bottom: 2px;
  border-bottom: 1px solid #e5e5e5;
}

