<ul class="labelsContainer">
  <li
    class="labelItem"
    ng-class="{
      unreadLabel: labelList.showUnread(label),
      activeLabel: labelList.activeLabel === label.label
    }"
    ng-repeat="label in labelList.top track by label.id">
    <a ui-sref="root.mail.inbox({label: label.label})">
      {{label.label}}
      <span ng-if="labelList.showUnread(label)">({{label.estimatedUnread}})</span>
    </a>
  </li>

  <li class="labelItem additionalLabels">
    <div
      ng-click="labelList.toggleBottom()"
      ng-switch="labelList.showBottom"
    >
      <div ng-switch-when="false">
        More
        <span class="additionalLabelArrow">&#9660;</span>
      </div>
      <div class="labelSeperator" ng-switch-when="true">
        Less
        <span class="additionalLabelArrow">&#9650</span>
      </div>
    </div>
  </li>

  <li
    ng-if="labelList.showBottom"
    class="labelItem"
    ng-class="{unreadLabel: labelList.showUnread(label)}"
    ng-repeat="label in labelList.bottom track by label.id">
    <a ui-sref="root.mail.inbox({label: label.label})">
      {{label.label}}
      <span ng-if="labelList.showUnread(label)">({{label.estimatedUnread}})</span>
    </a>
  </li>
</ul>

