<div class="mailboxHeader">
  <div class="quickActions"></div>

  <div class="headerActions">
    <div class="leftHeaderActions">
      <dm-button tooltip="Select" ng-click="mailboxHeader.selectAll()">Select All</dm-button>

      <dm-button class="mailAction" ng-if="!mailboxHeader.selectedEmail()" tooltip="Refresh">Refresh</dm-button>

      <div class="mailAction" ng-if="mailboxHeader.selectedEmail()">
        <dm-button kind="left" tooltip="Archive">Archive</dm-button>
        <dm-button kind="center" tooltip="Report Spam">Spam</dm-button>
        <dm-button kind="right" tooltip="Delete">Delete</dm-button>
      </div>

      <div class="mailAction" ng-if="mailboxHeader.selectedEmail()">
        <dm-button kind="left">Move</dm-button>
        <dm-button kind="right">Label</dm-button>
      </div>
    </div>

    <div class="rightHeaderActions">
      <dm-button kind="left"> &lt; </dm-button>
      <dm-button kind="right"> &gt; </dm-button>
    </div>
  </div>
</div>
