.appContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.appHeaderContainer {
  height: 61px;
  background: #f1f1f1;
  border-bottom: 1px solid #E5E5E5;
}

.appBodyContainer {
  height: calc(100% - 60px);
  font-size: 1.3rem;
}
