.mailbox {
  display: flex;
}

.mailboxLabels {
  width: 184px;
  margin: 10px 16px 10px 0;
}

.mailboxContents {
  flex-grow: 1;
  margin-right: 28px;
  max-width: calc(100% - 228px);
}

.composeContainer {
  margin-left: 30px;
  height: 2.7rem;
  display: flex;
  font-size: 1.1rem;
}

.mailMessage {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 1px;
  padding-bottom: 1px;
}

