dm-button {
  display: flex;
  height: 100%;
}

.dmButton {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #dcdcdc;
  color: #444;
  border-radius: 2px;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
  white-space: nowrap;
  min-width: 70px;
  height: 30px;
}

.dmButton:hover {
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px;
  border-color: #c6c6c6;
}

.dmButton:active {
  background-image: -webkit-linear-gradient(top, #eeeeee, #e0e0e0);
  border-color: #cccccc;
}

.dmButton_left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dmButton_right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.dmButton_center {
  border-radius: 0;
  border-left-width: 0;
}

.dmButton_primary {
  text-transform: uppercase;
  min-width: 115px;
  border: 1px solid #dd4b39;
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  color: #fff
}

.dmButton_primary:hover {
  background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
  box-shadow: 0 1px 1px #cccccc;
  border: 1px solid #b0281a;
}

.dmButton_action {
  color: #fff;
  background: #4387fd;
  border: 1px solid #4683ea;
  border-radius: 0 2px 2px 0;
  font-size: 1em;
}

.dmButton_action:hover {
  background: #4387fd;
  border: 1px solid #4683ea;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

