*, *::after, *::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  position: relative; /* Make the outline above other elements */
}

html {
  font-size: 62.5%;
}

.qtip-default {
  border: 1px solid black;
  background-color: #2A2A2A;
  color: #FFF;
}

